VITE_PRISM_API_URL=http://localhost:8080
VITE_PRISM_CHAIN_ID=31337
VITE_PRISM_CHAIN_NAME=Hardhat Local
VITE_PRISM_RPC_URL=http://127.0.0.1:8545
VITE_PRISM_EXPLORER_URL=
VITE_PRISM_NATIVE_CURRENCY_NAME=Ether
VITE_PRISM_NATIVE_CURRENCY_SYMBOL=ETH
VITE_PRISM_NATIVE_CURRENCY_DECIMALS=18
VITE_PRISM_POOL_ADDRESS=0x0000000000000000000000000000000000000000
VITE_PRISM_MULTISIG_ADDRESS=0x0000000000000000000000000000000000000000
